body {
    font-family: "Noto Sans", sans-serif;
    margin: 0em;
}
.cover {
    color: aquamarine;
    height: 400px;
    background-image:url(assets/churrosimg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}
/* darle propiedad a las fotos de las card para que encajen de forma simetrica entre sí */
.cover-small{
    height: 250px;
    background-blend-mode: normal;
}

/* agregar sombra a la tarjeta */
.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.8);

}

.card-title,h1,h2,h3,h4,h5{
    min-height: 3rem;
    text-align: center;
    font-style:italic;
    font-weight: bold;
}

.card-text{
    min-height: 5rem;
    text-align:justify;
}

.product-stripe, .slider{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;    
}

.slider{
    overflow-x: hidden;
    width: 80%;
}

.slider-container{
    transform: translateX(0);
}

.stripe-container, .slider-container{
    display:flex;
}

.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}

.responsive-iframe{
    position: relative;
    padding-top: 56.25%;
}

.responsive-iframe iframe{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
}

.image-container{
    width: 100%;
    padding-top: 56.25%;
    background-position: center;
    background-size:cover;
    flex-shrink: 0;
}